@import 'styles/constants';
@import 'styles/themes';

.meta_wrap {
  background-color: var(backgroundColor);
  color: var(primaryText);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  main {
    flex-grow: 2;
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  .content_wrap {
    padding: 0 1rem;
  }
}
