@import 'styles/constants';

.tag_list {
  list-style: none;
  padding: 0;
}

.tag_wrap {
  background-color: red;
  border-radius: 4px;
  color: $highlight-text;
  display: inline-block;
  font-size: 12px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.3rem;
}

.tag_link {

  @media screen and (min-width: $mobile){
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}