// App colors

$primary-text: #222;
$secondary-text: #888;
$highlight-text: white;
$link-blue: #4646fd;
$flag: #343642;
$light-grey: #ccc;
$menu-background: white;
$active: $link-blue;

// highlight pallette

$marroon: #962d3e;
$dark-grey: #343642;
$aqua: #348899;
$beige: #f2ebc7;

// Breakpoints

$mobile: 767px;
$tablet: 1058px;
