// App colors

$primary-text: #222;
$secondary-text: #888;
$highlight-text: white;
$link-blue: blue;
$flag: #343642;

// highlight pallette

$marroon: #962d3e;
$dark-grey: #343642;
$aqua: #348899;
$beige: #f2ebc7;

// Breakpoints

$mobile: 767;
$tablet: 1058;
