/////////////
// App colors
/////////////

// Light theme

$primary-text: #222;
$secondary-text: #888;
$highlight-text: white;
$background: white;
$flag: #343642;
$light-grey: #ccc;
$menu-background: white;
$link-blue: #4646fd;
$active: $link-blue;

// Dark theme
$primary-text-dark: #efefef;
$secondary-text-dark: #bbb;

// highlight pallette

$marroon: #962d3e;
$dark-grey: #343642;
$aqua: #348899;
$beige: #f2ebc7;

// Breakpoints

$mobile: 767px;
$tablet: 1058px;
