@import 'styles/constants';

.theme_wrapper {
  --primaryText: $primary-text;
  --secondaryText: $secondary-text;
  --backgroundColor: $background;
  --linkColor: $link-blue;
  --flagColor: $flag;
  --hoverColor: rgba(239, 239, 239, 0.65);
}

$variables: (
  primaryText: var(--primaryText),
  secondaryText: var(--secondaryText),
  backgroundColor: var(--backgroundColor),
  linkColor: var(--linkColor),
  flagColor: var(--flagColor),
  hoverColor: var(--hoverColor),
);

@function var($variable) {
  @return map-get($variables, $variable);
}
