@use 'styles/shared';
@import 'styles/constants';

.meta_container {
  padding: 0 2rem;
}

.post_content {
  font-size: 1.25rem;
  p {
    line-height: 1.75rem;
    margin: 1.5rem 0;
  }
  p:first-of-type {
    margin-top: 0;
  }
  ul li {
    line-height: 1.45rem;
    margin: 1.5rem 0;
  }
  img {
    display: block;
    max-width: 70%;
    margin: 0 auto;
  }
  a {
    @include shared.link;
  }
  pre {
    background-color: #383838;
    padding: 1rem;
    border-radius: 5px;
    overflow: scroll;
  }
  code {
    font-size: 1.25rem;
    color: #e5e0db;
    padding: 0.258rem 0;
  }
  blockquote {
    border-left: 4px solid $flag;
    padding-left: 1rem;
    font-style: italic;
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  .post_content {
    img {
      max-width: 100%;
    }
  }
}
