@use 'styles/shared';
@import 'styles/constants';

.meta_container {
  padding: 0 2rem;
}

.post_content {
  font-size: 1.25rem;

  // Style internal scrollbars
  * {
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
    border: 3px solid transparent;
  }
  p {
    line-height: 1.85rem;
    margin: 1.5rem 0;
  }
  p:first-of-type {
    margin-top: 0;
  }
  h2,
  h3 {
    line-height: 1.5em;
  }
  ul li,
  ol li {
    line-height: 1.75rem;
    margin: 1.5rem 0;
  }
  img {
    display: block;
    max-width: 70%;
    margin: 0 auto;
  }
  a {
    @include shared.link;
  }
  pre {
    background-color: #383838;
    padding: 1rem;
    border-radius: 5px;
    overflow: scroll;
  }
  code {
    font-size: 1.25rem;
    color: #e78e2f;
    padding: 0.258rem 0;
    display: inline-block;
    background-color: #2f2f2f;
    padding: 0.15rem 0.45rem;
    border-radius: 0.5rem;
  }
  blockquote {
    border-left: 4px solid $flag;
    padding-left: 1rem;
    font-style: italic;
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  .post_content {
    img {
      max-width: 100%;
    }
  }
}
