@import 'styles/constants';
@import 'styles/themes';

.post_header {
  display: inline-block;
  width: 100%;
  .background_grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    background-size: cover;
    background-position: center;
    .arbitrary_shell {
      background-color: var(backgroundColor);
      padding: 2rem;
      grid-column-start: 2;
      min-width: 100%;
      h1 {
        color: var(primaryText);
        position: relative;
        padding: 1rem 1rem 1rem 0;
        display: inline-block;
        margin: 0;
        font-size: 2.5rem;

        &:before {
          content: '\A';
          width: 5rem;
          border: 4px solid var(primaryText);
          position: absolute;
          top: -0.5rem;
        }
      }
    }
  }
  h2 {
    font-size: 2rem;
    color: var(secondaryText);
    margin: 1rem 0;
  }
}

.date_wrap {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0 15px 15px 0;
  margin: 0;
  background-color: var(flagColor);
  display: inline-block;
  span {
    color: $highlight-text;
    font-weight: bold;
    font-size: 14px;
  }
}

.tag_wrap {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

// Mobile
@media screen and (max-width: $mobile) {
  .post_header {
    img {
      max-width: 100%;
    }
    .background_grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0 1fr;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      .arbitrary_shell {
        grid-area: 2 / 1 / 2 / 2;
        padding: 1rem 0;
        h1 {
          padding-bottom: 0;
        }
      }
    }
    h2 {
      margin-top: 0;
    }
  }
}
